@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background: #121212;
  color: white;
  overflow: hidden;
}

.wrapper {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  min-width: 350px;
  display: inline-block;
  padding: 20px;
  font-size: 40px;
}

.yellowText {
  color: rgb(255, 213, 0);
}

.redText {
  color: rgb(255, 21, 0);
}

.counter {
  display: block;
  text-align: center;
  width: 350px;
}

button {
  margin: 30px 0px 0px 0px;
  font-size: 30px;
  background: #CF6679;
  color: white;
  box-shadow: 1px 4px 0 0 black;
  position: relative;
  top: 0;
  min-width: 350px;
  max-width: 700px;
  min-height: 70px;
  text-align: center;
}
button:active {
  top: 1px;
  box-shadow: 1px 3px 0 0 black;
}

.button2 {
  box-shadow: none;
  position: static;
}
.button2:active {
  box-shadow: none;
}
.button2:hover {
  background-color: #fe859b;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 30px;
  text-align: center;
  min-width: 350px;
  max-width: 700px;
}
.menu-list li {
  min-width: 350px;
  max-width: 700px;
  background-color: #bb86fc;
  min-height: 50px;
}
.menu-list li:first-child {
  border-top: 10px solid #121212;
  padding: 10px 0px 0px 0px;
}

.menu-hidden {
  visibility: hidden;
}

.menu-display {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 700px;
}

.span-button {
  text-align: center;
}